/*Fonts & Text */
@font-face {
    font-family: HACKED;
    src: url(HACKED.ttf);

}

div {
font-family: HACKED;

}

p {
  font-family: HACKED;
}

h1 {
  font-family: HACKED;

}


/* Background styles*/

body {
  background-color: #000000;
}

#home {
  background: url(../images/backlight.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

#home h1 {

  color: white;
}

.homepanel {
	min-height: 100vh;
}

/*navigation tool*/


#home nav {
  border: solid grey 1px;
  list-style-type: none;
  max-width: 15vh;
  border-spacing: inherit;


}

#home nav a {
  color: grey;
  font-family: "HACKED";
  text-decoration: none;

}

/*About Panel*/

#about {
  background: url(../images/static.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

#about h1 {
  color: white;

}

#about p {
  color: white;
}

.aboutpanel {
	min-height: 100vh;
}
