/*Fonts & Text */

@font-face {
  font-family: good;
  src: url(goodfoot.ttf);
}

@font-face {
  font-family: sharpie;
  src: url(BasicSharpie.ttf);

}

* {
  padding: 0px;
  margin: 0px;
}

/* Home styles*/

body {
  background-color: #000000;
  margin: 0px;
  padding: 0px;
  text-align: center;

}

div {
  margin: 0px;
  display: block;
}

div::selection {
  background: 0 0;
}

#homepage {
  background: url(../images/skyline.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#homepage h1 {
  color: black;
  font-family: sharpie;
  font-size: 11em;
}

#homepage p {
  color: black;
  font-family: good;
  font-size: 3em;
}

.homepage {
	min-height: 50em;

}


/*navigation tool*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    font-family: sharpie;
    font-size: 3em;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: #111;
}
